/* Two-genome end-to-end test covering all three dataflows. */
params {
    input             = "${projectDir}/test/samplesheet_test_full.csv"
    outdir            = 'results_test_full'
    step              = 'all'
    max_cpus          = 8
    max_memory        = '24.GB'
    min_family_seqs   = 2
    cooccurrence_min_cgc = 2
    make_tree_figures = false
}
